body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

input {
    padding: 10px 40px 10px 10px; /* Add padding-right to make space for the icon */
    margin: 10px;
    width: calc(90% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    background: url('/images/search.png') no-repeat right 10px center, #fff; /* Add the icon as background */
    background-size: 20px; /* Adjust the size of the icon */
    color: #333;
}

input::placeholder {
    color: #888;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

#weatherResult {
    margin-top: 20px;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.weather-icon {
    width: 100px;
    height: 100px;
}
